
<h2>{{model.main}}</h2>
<h4>on {{model.timestamp}}</h4>
<p>{{model.additional_notes}}</p>
{{new-answer question=model answerQuestion="answerQuestion"}}
<ul>
{{#each model.answers as |answer|}}
  {{answer-tile answer=answer}}
{{/each}}
</ul>
